*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100vh;
    background: #2a2e3b;
}
:root{
    --filter-blue: invert(37%) sepia(18%) saturate(2734%) hue-rotate(171deg) brightness(94%) contrast(74%);
}
.main-container{
    display: block;
    height: 100vh;
    overflow: hidden; /* Remove this after */
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    background: linear-gradient(rgb(24, 34, 53) 10%,#20222b 80%);
    border-bottom: 2px Solid #20222b;
}


ul{
    display: flex;
    align-items: top;
    list-style: none;
    height: fit-content;
}
ul li{
    position: relative;
    width: 100%;
    height: 15px;
    padding: 5px;
    cursor: pointer;
}
ul li:hover{
    color: #ccc;
}
ul li img{
    width: 20px;
}



ul.simple-menu{
    position: absolute;
    font-size: 9pt;
    top: 0px;
    left: 5px;
    color: #ddd5;
    padding: 0 5px;
}
ul.info-menu{
    position: absolute;
    transform: scale(0.8);
    top: 8px;
    right: -35px;
}
ul.info-menu img{
    filter: invert(.4);
    transform: translate(0,-2.5px);
    margin: auto;
    width: 30px;
    height: 20px;
}
ul.info-menu img:hover{
    filter: invert(.2);
}
ul.info-menu li.borded img{
    filter: invert(.4);
}
ul.info-menu li.borded{
    background: rgb(32, 48, 68);
    margin-left: 8px;
}
ul.info-menu li.borded:hover{
    background: rgb(52, 80, 116);
}


.profile-info{
    display: flex;
    transform: translate(-5px,-5px);
    align-items: center;
    height: 25px;
    color: #3c9cd3;
}
.profile-info h3{
    display: flex;
    align-items: center;
    margin: auto 10px;
    font-size: 12pt;
    font-weight: 500;
}
.profile-info span{
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
}
.profile-info h4{
    color: #777;
}
ul.info-menu .profile-info img{
    transform: none;
    width: 10px;
    margin: auto 5px;
    filter: invert(57%) sepia(18%) saturate(2734%) hue-rotate(171deg) brightness(94%) contrast(74%) !important;
}
ul.info-menu .profile-info img#profile{
    filter: none !important;
    border-right: 3px solid #3c9cd3;
    object-fit: cover;
    margin-left: 0;
    width: 25px;
    height: 25px;
}



ul.info-menu #minimize{
    width: 18px;
    height: 20px;
}
ul.info-menu #minimize::after{
    position: absolute;
    top: 70%;
    content: "";
    width: 15px;
    height: 2px;
    background: #aaa;
}
ul.info-menu #minimize:hover:after{
    background: #ddd;
}
ul.info-menu #maximize{
    position: relative;
    width: 18px;
    height: 15px;
    background: #aaa;
}
ul.info-menu #maximize::after{
    position: absolute;
    top: 4px;
    left: 1px;
    width: 16px;
    content: "";
    height: 10px;
    background:#16223a;
}
ul.info-menu #maximize:hover{
    background: #ddd;
}


ul.info-menu #exit{
    position: relative;
    width: 20px;
    height: 15px;
}
ul.info-menu #exit div.cross-dir{
    position: absolute;
    width: 18px;
    height: 2px;
    top: 50%;
    background: #aaa;
    transform: rotate(45deg);
}
ul.info-menu #exit div.cross-esq{
    position: absolute;
    width: 18px;
    height: 2px;
    top: 50%;
    background: #aaa;
    transform: rotate(-45deg);
}
ul.info-menu #exit:hover div.cross-dir,
ul.info-menu #exit:hover div.cross-esq{
    background: #ddd;
}



.main-menu{
    position: absolute;
    height: fit-content;
    top: 40%;

    color: #ddd;
    text-shadow: 0 0 2px #fff;
    font-size: 18pt;
    text-transform: uppercase;
}
.main-menu li{
    height: fit-content;
    cursor: pointer;
    padding: 0 6px;
    margin: 6px;
}
.main-menu li:hover{
    text-shadow: 0 0 4px #fff;
}
.main-menu li.active{
    color: #fff;
    text-shadow: 0 0 8px #fff;
}
.main-menu .arrows{
    transform: rotate(180deg);
    filter: invert(0.6);
    cursor: initial;
}
.main-menu .arrows:nth-child(2){
    transform: rotate(0deg);
    transform: translate(-5px, 2.5px);
}
.main-menu .arrows.active{
    filter: invert(0.15);
    cursor: pointer;
}
.main-menu .arrows.active:hover{
    filter: invert(0);
}





/* Iframe */

iframe{
    position: relative;
    width: 100%;
    height: calc(100% - 135px);
}






/* Footer */

footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    background: #2e3238;
}
footer div{
    display: flex;
    align-items: center;
    max-height: 40px;
    margin: auto 20px;
    cursor: pointer;
}
footer div#downloads{
    display: block;
    text-align: center;
    margin-top: 5px;
}
footer div h2{
    color: #ccc;
    text-transform: uppercase;
    font-weight: 400;
    margin: auto 10px;
    font-size: 10pt;
}
footer div:hover h2{
    color: #eee;
}
footer div:hover img{
    filter: invert(.9);
}
footer div h3{
    display: block;
    font-weight: 400;
    font-size: 10pt;
    line-height: 12px;
    color: #777;
}
footer img{
    max-height: 25px;
    filter: invert(.7);
}
footer .resize{
    max-height: 11px;
    position: absolute;
    cursor: se-resize;
    bottom: 5px;
    right: 5px;
}